body{
  background-color: #ccffff;
}


/* Header **/
header{
  padding: 20px 70px 5px 1px;
  margin: -7px;
  background-color: #00ff99;
  border-bottom-style: solid;
  border-color: blue;
}

footer{
  padding:20px  ;
  margin:-7px ;
  background-color: blue;
  color: aliceblue;
  text-align: center;
}