body{
  background-color: #2b1f21;
}
body{
  color: white;
}
p{
  color: blue;
}
h1{
    color:red
}
#cum{
    text-align: center;
}
#penis{
    padding: 3px 4px 2px 625px;
}
#clussy{
    padding: 3px 4px 2px 250px;
}
a{
    color:red;
    text-decoration: none;
    text-transform:uppercase;
    font-size:larger;
}
#cock{
    border-collapse:  collapse;
    width:  94%;
}
#knuc{
    color: #fafda4;
}
#gay{
    color: #7cd2f3;
}
#Bunny{
    color: #c8fbb8;
}
#wimp{
    color: #d80413;
}
#border{
    border: 2px solid red;
}
#link:hover{
    text-align: left;
    background-color: #2b1f21;
}
footer{
    text-align: center;
    color: whitesmoke;
}
#apex:hover{
    color: azure;
}

